[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "==0.17.4post2"
elasticsearch = "==6.3.1"
elasticsearch-dsl = "==6.4.0"
feedgen = "==0.9.0"
flask-caching = "==1.8.0"
redis = "==4.4.4"
werkzeug = "==1.0.1"
flask = "==1.1.4"
markupsafe = "==2.0.1"

[dev-packages]
mypy = "==0.761"
flake8 = "==3.7.9"
flask-testing = "==0.8.0"
pre-commit = "==2.2.0"
pydocstyle = "==5.0.2"
pylint = "==2.4.4"
pytest = "==5.4.1"
pytest-cov = "==2.8.1"
pytest-flask = "==1.0.0"

[requires]
python_version = "3.7"
