[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
elasticsearch-dsl = "*"
flask = "*"
arxiv = "*"
arxiv-base = "*"
rfeed = "*"

[dev-packages]

[requires]
python_version = "3.6"
